/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

/* header */

.farecalc {
  font-size: 40px;
  color: red;
}

#price {
  font-size: 30px;
}

.container {
  border: black solid 1px;
}

#button {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  background-color: lightblue;
  border-radius: 4px;
}
